@charset "UTF-8";
/* demais aparelhos */

@media screen and (min-width: 768px) and (max-width:992px) {
    body {
        background-image: linear-gradient(to top, #a0499c, #822c2c);
    }
    
    #login {
        width: 90vw;
    }

    #imagem {
        height: 100%;
        width: 33.33%;
        float: left;
        
    }

    #formulario { 
        width: 66.67%;
        display: block;
        float: right;
    }
}

@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to top, #a0499c, #822c2c);
    }
    
    #login {
        width:990px;
    }

    #imagem {
        float: left;
        width: 50%;
        height: 100%;
    }

    #formulario {
        width: 50%;
        float: right;
    }

    
}
