@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;

    background-image: linear-gradient( blue,rgb(83, 107, 248),white);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
                                                /* estilo section div*/
#sectionDiv {
    background-color: rgba(184, 195, 255, 0.173) ;
    width: 390px;
    height: 75%;

    border-radius: 7px;
    box-shadow: 0px 0px 2px 3px rgba(0, 0, 0, 0.064);

    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-between;
}
                                                /* estilo da imagem topo*/
#imagemDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
    
    width: 100%;
    height: 40%;
    background-color: rgba(139, 207, 255, 0);
}
#imagemDiv > .nuvem{
    position: relative;
    background-color: rgb(230, 230, 230);
    border-radius: 100px;
    width: 250px;
    height: 105px; 
    overflow: visible;
}
.nuvem::before {
    position: absolute;
    top: -30px;
    left: 30px;
    right: -10px;
    box-sizing: border-box;

    content: '';
    z-index: 1;
    width: 80px;
    height: 80px;
    border-radius: 50%;

    background: inherit;
    background-color: rgb(230, 230, 230);
    
}
.nuvem::after {
    position: absolute;
    top: -60px;
    right: -10px;
    left: 80px;

    box-sizing: border-box;

    content: '';
    z-index: 1;
    width: 145px;
    height: 145px;
    border-radius: 50%;

    background: inherit;
    background-color: rgb(230, 230, 230);
    
    
}
                                                /* estilo do texto intro */
#introTextoDiv {
    margin-left: 20px;
    width: 100%;
    height: 10%;
}
                                                /* estilo do formulario */

#formularioDiv {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;

    width: 100%;
    height: 50%;
}

#formDiv {
    height: 100%;
    width: 100%;

    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

#usuarioDiv, #senhaDiv {
    display: flex;
    flex-flow: column wrap;

    margin-left: 30px;
    width: 100%;
    font-size: 20px normal;

}
#inome, #isenha {
    border: 1px solid rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.547);
    width: 300px;
    padding: 10px;
    border-radius: 20px;
    border-style: none;
}

#botaoDiv {
    height: 100px;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    
}
#entrarBtn {
    background-color: white;
    width: 80px;
    padding: 10px;
    margin: 15px;
    border-radius: 20px;
    border-style: none;
}
#entrarBtn:hover {
    border: 1px solid yellow;
    cursor: pointer;
}

